{
  "root": true,
  "extends": ["airbnb-base"],
  "env": {
    "browser": true
  },
  "rules": {
      "indent": ["error", 4, {
        "SwitchCase": 1,
        "VariableDeclarator": 1,
        "outerIIFEBody": 1,
        "linebreak-style": false,
        "FunctionDeclaration": {
          "parameters": 1,
          "body": 1
        },
        "FunctionExpression": {
          "parameters": 1,
          "body": 1
        }
      }]
  }
}
