button {
    width: 200px;
    height: 50px;
    display: block;
    margin: 50px auto;
    border: none;
    border-radius: 3px;
    background: #F4A261 linear-gradient(from #F4A261 to #E76F51);
    color: #FFF;
    outline: none;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

*[data-animation="ripple"]::selection {
	background: transparent;
	pointer-events: none;
}